.list-container{
    margin-top: 25px;
}
.player-container{
    display: flex;
    justify-content: center;

}

.playerHeader{
    text-align: center;
    background-color: lightgrey;
}

.playerData{
    width: 200px;
    border: solid 1px gray;
    padding: 3px;
}

.playerControls{
    width: 100px;
}

.player-control-icons {
    padding-left: 15px;
    font-size: 15px;
    cursor: pointer;
}

.input-container {
    display: flex;
    justify-content: center;
}

.player-input {
    font-size: 16px;
}

.input-elements {
    padding: 5px;
}

#btnAdd {
    font-size: 14px;
}

#btnUpdate {
    font-size: 14px;
}


