@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.header{
    display: flex;
    justify-content: center;
    background-color: dodgerblue;
    font-size: 36px;
    color: white;
}

.image-baseball {
    height: 124px;
    width: 120 px;
    margin-top: 15px;
}